h2, h3, h4, h5, h6 {
	font-weight: bold;
}

h1 {
	font-size: 50px;
	font-weight: normal;
	text-transform: uppercase;
}

a {
	color: #2A9B5B;
}

a:hover, a:focus {
	text-decoration: none;
	outline: none;
	color: #D07215;
}

img {
	max-width: 100%;
}

.banner {
	background: #c8abad;
	font-size: 2em;
	position: relative;
	background: url(../img/banner_main.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.banner-contentarea {
	display: table;
	width: 100%;
	height: 100%;
}

.banner-content {
	display: table-cell;
	vertical-align: middle;
}

.banner-content p {
	margin: 0 0 1em;
}

.btn {
	border-radius: 50px;
	min-width: 225px;
}

div p a {
	border-radius: 50px;
}

.btn-theme {
	background: #d04c2c;
	color: #fff;
}

.btn-theme:focus {
	color: #fff;
}

.btn-theme:hover {
	color: #fff;
	background: #2A9B5B;
}

.btn-modal {
	margin-top: 10px;
}

.text-white {
	color: #fff;
}

.text-theme {
	color: #2A9B5B;
}

.navigation {
	padding: 30px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}

.navigation .logo:hover,
.navigation .logo:focus,
.navigation .logo {
	font-size: 24px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

.sidenav {
	padding:20px;
	background-color: inherit;
	font-size: 24px;
	color:#f5f5f5;
	height: 100%;
}